.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* In App.css */

.container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-family: sans-serif;
}

.column {
  /* Adds space so text isn't touching the border */
  padding: 20px 125px; 
  padding-right: 225px;
  /* Adds the vertical green line to the right of each column */
  border-right: 10px solid green;
}

/* This targets the last column and removes its right border */
.column:last-child {
  border-right: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
